.p5 {
  padding-bottom: 2.5rem;
}

.user-details {
  position: relative;

  .user-name {
    font-weight: 300;
    text-transform: uppercase;
  }
}

.filter {
  .mat-form-field {
    width: 100%;
  }
}

h4 {
  font-weight: 600;
  padding-left: 10px;
}

.user-content {
  .user-img {
    position: relative;
    text-align: center;

    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }
  }
}

.blocked {
  opacity: 0.25;
}

.p-0 {
  padding: 0 !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.card {
  height: 180px;
}

.bb {
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pad {
  padding: 2px 0;
}

.span {
  padding-top: 4px;
  font-size: 14px;
  color: rgba(70, 69, 69, 0.863);
}
